/* search {
    margin: 20px;
    overflow: auto;
    position: relative;
} */

.form-control {
    display: inline-block;
}

.searchHistory {
    width: 100%;
    margin: auto;

}

.col-sm-3 {
    height: 100vh;
}


.currentWeather {
    border: 1px solid rgb(196, 198, 233) ;
    margin-top: 11%;
    width: 142%;
}

.search-icon {
    background-color: #4EA4E8 ;
    color: white;
    padding: 15px;
    /* border-radius: 5px; */
    display: flex;
    overflow: auto;
    margin-left: 10px;
}

.city {
    font-size: 1.8em; 
}

.card {
    margin-top: 20px;
}

/* .historyBlock {
    display: block;
    background-color: white;
    color: gray;
    height: 40px;
    border-bottom: 1px solid #C1C1C1 ;
    margin: auto;
    padding: 2%;
    width: 95%;
} */









